<%- include("partials/header") %>
<h1>Create a New Blog</h1>
<form id="blogForm" action="/blogs" method="POST">
  <div class="form-row">
    <label for="title">Title</label>
    <input id="title" class="input" type="text" name="title" required>
    
    <small class="error" id="error-title"></small>
  </div><br>
  <div class="form-row">
    <label for="snippet">Snippet</label>
    <input id="snippet" class="input" type="text" name="snippet" required><br>
    <small class="error" id="error-snippet"></small>
  </div><br>
  <div class="form-row">
    <label for="body">Body</label>
    <textarea id="body" class="input" name="body" required></textarea>
    <small class="error" id="error-body"></small>
  </div><br>
  <button class="btn btn-primary" type="submit">Add Blog</button>
</form>
<%- include("partials/footer") %>