<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blog Project</title>
  <link rel="stylesheet" href="/style.css">
  <script defer src="/script.js"></script>
</head>
<body class="theme-blue">
  <div class="container mt-5">
  <nav>
    <a class="brand" href="/">NidhiBlog</a>
    <div class="links">
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/blogs/create">Create</a>
      <select id="themeSwitcher">
        <option value="theme-blue">Blue</option>
        <option value="theme-purple">Purple</option>
        <option value="theme-dark">Dark</option>
      </select>
    </div>
  </nav>
