<!DOCTYPE html>
<html>
<head>
  <title>Movie Project</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <h1>Welcome to Movie Project</h1>
  <a href="/movies/add">Add New Movie</a>
  <a href="/">View Movies</a>
</body>
</html>
